<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Huy Vu Homepage</title>
  <meta name="description" content="My homepage">
  <meta name="author" content="Huy Vu">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="banner">
    <h1 class="information">Under Construction...</h1>
  </div>
</body>

</html>
