html, body {
  height: 100%;
}

body {
  background-color: #ffdd57;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .information {
    font-weight: 600;
    flex: 0 0 auto;
  }
}